@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-200;
  }
  body {
    @apply bg-white text-neutral-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-semibold;
}